*{
  border: 0;
  margin: 0;
}
.loader {
  margin:250px 300px 300px 800px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #210f60; /* Blue */
  border-top: 16px solid#210f60; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button {
  padding: 10px;
  border-top-right-radius:2px ;
  border-bottom-right-radius: 2px;
}
.wrong-search{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found{
  max-width: 600px;
  max-height: 600px;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.img-fluid{
  
  max-height: 80vh;
}
.swiper-component {
  display: flex;
  justify-content: center;
  align-items: center;
}